@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/footer.css');
@import url('components/cards.css');

/* Utilities */
body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  text-transform: uppercase;
}

h1, h2, h3, h4 {
  font-family: 'Epilogue', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

.list-inline {
  list-style: none;
  padding: 0px 20px;
  margin: auto;
}

.list-inline i {
  font-size: 50px;
  color: #070707;
  margin: 0 10px;
}

.list-inline i:hover {
  color: rgb(73,73,73,0.5);
}

/* Custom design below! */
.container {
  width: 900px;
  height: auto;
  margin: auto;
  display: list-item;
  flex-direction: column;
}

.container h1, p {
  color: #070707;
  padding-left: 5px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read*/
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

