.banner {
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  border-bottom: 1px solid #070707;
}

.banner h1 {
  color: #070707;
}

.banner p {
  color: #070707;
  opacity: .7;
  font-size: 20px;
}

.justify-content{
  background-color: rgb(255,255,255,0.5);
  flex-wrap: wrap;
  align-content: stretch;
  padding: 16px;
}
