

.cards {
  display: flex;
  justify-content: space-between;
  margin: 30px ;
  text-transform: capitalize;
}

.card {
  width: 200px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px 0px #070707;
  text-align: center;
  padding: 20px;
  border: 1px solid #070707;
  background-color: #ffff;
}

.card img {
  height: 100px;
  width: 100%;
  border: 1px solid #070707;
}

.card p {
  opacity: 0.5;
  color: #070707;
}

.cards a {
  text-decoration: none;
  margin: 20px;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.card a:hover {
    background-color: #ffff;
}

.card a:visited {
  color: rgb(214, 98, 59);
}


